body {
  text-align: left;
  font-family: Verdana, sans-serif;
  padding: 3% 15%;
  background-color: #e5e2e2;
}

h1 {
  font-size: 35px;
}

img {
  width: 30%;
  height: auto;
  border-radius: 5px;
}

.container {
  background-color: #f4eded;
  padding: 5px 10px;
  border-radius: 10px;
}

.link {
  display: block;
  margin: 15px auto;
  text-align: center;
}